.button {
  background-color: lightcoral;
  border: 2px solid chocolate;
  border-radius: 50px;
  width: 100px;
  height: 30px;
}
.off-button {
  background-color: lightslategray;
  border-color: black;
}

.special-button {
  background-color: violet;
  border-color: slateblue;
}
