// fonts
$regular: 'Roboto', sans-serif;
$title: 'Roboto Slab', serif;

// colors
$darkBlue: #304268;
$mediumBlue: #0271bc;
$lightBlue: #8ccbea;
$iceBlue: #eff9ff;
$white: #ffffff;
$black: #000000;
$orange: #f26002;
$grey: #4a4a4a;


