.ppal-section {
    display: flex;
    width: 100vw;
    position: absolute;
    flex-direction: column;
}

.ppal-article{
    height: 50vh;
    display: flex;
    text-align: center;
    flex-grow: 1;
    padding: 0 15px;
    border-bottom: 1px solid slategrey;
}
.text{
    margin: auto;
}
.aside-section{
    display: flex;
    height: 30vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.button{
    height: 45px;
    width: 80px;
    background-color: red;
    text-decoration: none;
    text-align:center;
    vertical-align: middle;
    line-height: 45px;
    border-radius: 5px;
    color: white;
}