body {
  background-color: lightgray;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
}
.site-name-section {
  width: 100vw;
  height: 70px;
  padding: 10px;
}
.main-section {
  display: flex;
  flex-direction: column;
  position: relative;
}
.green-section {
  display: flex;
  flex-direction: column;
  background-color: lightgreen;
}
.yellow-section {
  background-color: yellow;
  font-size: 18px;
  line-height: 1.2em;
  flex-grow: 1;
  margin-bottom: 110px;
  height: 100vh;
}
.lead-heading {
  margin-bottom: 20px;
}
.lead-orange-box {
  display: none;
}
.aside {
  background-color: grey;
  position: absolute;
  bottom: 10px;
}
.h3-aside {
  margin-bottom: 15px;
}

@media all and (min-width: 480px) and (max-width: 1000px) {
  .main-section {
    display: flex;
  }
  .green-section {
    position: absolute;
    width: 25%;
  }
  .yellow-section {
    position: relative;
    align-self: flex-end;
    width: 70%;
    display: flex;
    margin-bottom: 20px;
  }

  .lead-heading {
    position: absolute;
    width: 100%;
  }
  .lead-text {
    margin-bottom: 0px;
    position: relative;
    flex: 60%;
    flex-direction: column;
    margin-top: 30px;
    padding-right: 10px;
  }
  .lead-orange-box {
    display: block;
    position: relative;
    flex-direction: column;
    width: 200px;
    height: 200px;
    margin-top: 30px;
    background-color: orange;
  }
  .aside {
    position: absolute;
    right: 0px;
    width: 70%;
    margin: 0px;
  }
}
