//Section Tips

.tips {
    height: 376px;
    padding-top: 30px;

    &__small {
        font-family: $regular;
        font-size: 14px;
        line-height: 2.14;
        text-transform: capitalize;
        color: $lightBlue;
        @include desktop {
            font-size: 16px;
            line-height: 1.88;
        }
    }

    &__title {
        margin-bottom: 15px;
        @include mainTitle();
        @include tablet {
            margin-bottom: 30px;
        }
    }

    &__text {
        margin-bottom: 30px;
        color: $grey;
        @include articleText();
    }

    &__button {
        width: 76px;
        border: 2px solid $orange;
        background-color: $white;
        color: $orange;
        @include mainButton();
        @include tablet {
            width: 91px;
        }
        @include desktop {
            width: 160px;
        }
    }

    @include tablet {
        height: 330px;
    }
    @include desktop {
        height: 360px;
        padding-top: 60px;
    }
}

//Section reasons

.main-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 105px 138px 138px 138px 105px;
    text-align: center;
    @include tablet {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 120px 172px 105px;
        column-gap: 27.7px;
    }
    @include desktop {
        grid-template-rows: 150px 172px 105px;
        column-gap: 26.2px;
        margin: 0 85px;
    }
}

.reasons {
    height: 624px;
    background-color: $iceBlue;

    &__title {
        padding-top: 30px;
        @include mainTitle();
        @include tablet {
            grid-column: 1 / 4;
        }
        @include desktop {
            padding-top: 60px;
        }
    }
    &__article--title {
        @include articleTitle();
        @include tablet {
            padding: 0;
        }
    }
    &__article--text {
        @include articleText;
        @include tablet {
            padding: 14px 0 0 0;
        }
    }

    &__button {
        margin-left: auto;
        margin-right: auto;
        width: 184px;
        background-color: $orange;
        color: $white;
        @include mainButton();
        @include tablet {
            grid-column: 1 / 4;
            width: 210px;
        }
        @include desktop {
            width: 255px;
        }
    }

    @include tablet {
        height: 397px;
    }
    @include desktop {
        height: 427px;
    }
}
