/*Reset*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*---------------------*/
:root {
  --title-font-size: 26px;
  --title-font-weight: 700;
  --color-firered: #cc212a;
  --size-icon: 3em;
  --footer-height: 90px;

  --title-font-tablet: 40px;
}

body {
  color: var(--color-firered);
  font-family: Montserrat;
  text-align: center;
}

.header {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
  line-height: 0.9;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* o width: 100vW */
  border-top: 3px solid var(--color-firered);
  position: fixed;
  /* height: var(--footer-height); */
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 36px;
}
.icon {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* position: absolute; */
  font-size: 14px;
  /* bottom: calc(var(--footer-height) - var(--size-icon) / 2); */
  width: var(--size-icon);
  height: var(--size-icon);
  line-height: var(--size-icon);
  background-color: var(--color-firered);
  color: white;
  font-weight: 700;
  border-radius: 50%;
  transform: translateY(-50%);
}
.copy {
  /* display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 120px;
  height: 20px;
  transform: translateY(-50%);
  top: calc(var(--footer-height) / 2); */
  color: gray;
  font-size: 14px;
  text-transform: uppercase;
}

@media all and (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 24px;
  }
  .icon {
    transform: none;
    order: 1;
  }
  /* .title {
    font-size: var(--title-font-tablet);
  }
  .footer {
    display: flex;
    flex-direction: row;
  }
  .icon {
    font-size: 16px;
    position: absolute;
    transform: translate(0px, calc(var(--size-icon) / 2));
    bottom: calc(var(--footer-height) / 2);
    right: 25px;
  }
  .copy {
    font-size: 16px;
    position: absolute;
    align-content: flex-start;
    left: 25px;
  }
} */
}
