* {
  box-sizing: border-box;
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  color: #cc212a;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 900;
}
footer {
  position: absolute;
  height: 120px;
  width: 100%;
  bottom: 0px;
}
hr {
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #cc212a;
}
.circle {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 22.5px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: #cc212a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.circle-text {
  font-weight: bold;
  color: white;
}
.copy {
  color: grey;
  position: relative;
  text-align: center;
}
@media all and (min-width: 768px) {
  .circle {
    position: absolute;
    right: 25px;
    height: 75px;
    width: 75px;
    border-radius: 40px;
  }
  .circle-text {
    font-size: 24px;
  }
  .copy {
    position: absolute;
    top: 50px;
    left: 25px;
  }
}
