body {
  margin: 0;
}
.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 20% 1fr 20%;
  grid-gap: 5px;
}

.item {
  background: deeppink;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item1 {
  grid-column-start: 1;
  grid-column-end: 13;
}
.item2 {
  grid-column-start: 1;
  grid-column-end: 5;
}
.item3 {
  grid-column-start: 5;
  grid-column-end: 13;
}
.item4 {
  grid-column-start: 1;
  grid-column-end: 13;
}
