body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.form {
  display: flex;
  flex-direction: column;
}
.form__label {
  margin-top: 5px;
}

.form__input {
  width: 200px;
}

.form__btn {
  width: 60px;
  margin-top: 10px;
  background-color: aqua;
  border-radius: 10px;
  border: none;
}
.hidden {
  display: none;
}

.redstyle {
  color: red;
}
